<div class="task_details font_700">
    <h3 class="h3 mb-3">Reason for the delay</h3>
    <ul>
        <li class="alert alert-info">
            <b>I'm so sorry for the delay, I hope this didn't bother you</b>
        </li>
        <li class="alert alert-warning">I wasn't completely free on the weekend.</li>
        <li class="alert alert-warning">
            Also, I read the documentation for the primeng, it took time
        </li>
    </ul>
    
    <hr class="my-5">
    
    <h3 class="h3 mb-3">Pattern used & Code</h3>
    <ul>
        <li class="alert alert-info">Handler paths in tsconfig file to make path shorted and readably</li>
        <li class="alert alert-primary">Angular v19</li>
        <li class="alert alert-primary">Angular ( Router =>, Eager loading vs Lazy loading )</li>
        <li class="alert alert-primary">Angular ( FormBuilder & FromModule )</li>
        <li class="alert alert-primary">Angular ( Standalone & Server Side Render )</li>
        <li class="alert alert-primary">Packages ( Bootstrap 5, Primeng,  )</li>
        <li class="alert alert-primary">
            I mix between using my components, Primeng, components, and also Bootstrap
        </li>
        <li class="alert alert-primary">Core Folder ( Functions-Helper, Interceptors, Interfaces, Pipes, Services ) But not available ): </li>
        <li class="alert alert-primary">
            I could have used the Interceptors and HttpClient but it was not necessary.
        </li>
    </ul>
    
    <hr class="my-5">
    
    <h3 class="h3 mb-3">Extra Details</h3>
    <ul class="mb-5">
        <li class="alert alert-primary">All folders and files are well divided</li>
        <li class="alert alert-primary">Apply the Reusability of usability, modifiability, and error catchability</li>
    </ul>
    
</div>