@font-face {
    font-family: 'IBMPlexSans';
    src: url(./IBM_Plex_Sans/IBMPlexSans-Thin.ttf) format('opentype');
    font-weight: 100; /* Thin */
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    src: url(./IBM_Plex_Sans/IBMPlexSans-ThinItalic.ttf) format('opentype');
    font-weight: 100; /* Thin italic*/
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(./IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf) format('opentype');
    font-weight: 200; /* ExtraLight */
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    src: url(./IBM_Plex_Sans/IBMPlexSans-ExtraLightItalic.ttf) format('opentype');
    font-weight: 200; /* ExtraLight italic */
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(./IBM_Plex_Sans/IBMPlexSans-Light.ttf) format('opentype');
    font-weight: 300; /* Light */
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    src: url(./IBM_Plex_Sans/IBMPlexSans-LightItalic.ttf) format('opentype');
    font-weight: 300; /* Light italic */
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(./IBM_Plex_Sans/IBMPlexSans-Regular.ttf) format('opentype');
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(./IBM_Plex_Sans/IBMPlexSans-Medium.ttf) format('opentype');
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    src: url(./IBM_Plex_Sans/IBMPlexSans-MediumItalic.ttf) format('opentype');
    font-weight: 500; /* Medium italic */
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(./IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf) format('opentype');
    font-weight: 600; /* SemiBold */
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    src: url(./IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf) format('opentype');
    font-weight: 600; /* SemiBold italic */
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(./IBM_Plex_Sans/IBMPlexSans-Bold.ttf) format('opentype');
    font-weight: 700; /* Bold */
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    src: url(./IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf) format('opentype');
    font-weight: 700; /* Bold italic */
}