.app_header {
    border-bottom: 1px solid #E2E7F1;
    .user_setting {
        white-space: nowrap;
        .wrap_user_img {
            width: 48px;
            height: 48px;
            overflow: hidden;
            border-radius: 9999px;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .app_header .user_setting {
        white-space: normal !important;
        .wrap_options {
            display: none;
        }
    }
}