<header class="app_header padding_y_16 padding_x_24 d-flex align-items-center justify-content-between flex-wrap">
    <app-bread-crumb [paths]="['Service Management', 'Service List', 'View Service Details']" />
    <div class="user_setting d-flex align-items-center">
        <div class="wrap_user_img">
            <img src="images/Profile.png" alt="user img" />
        </div>
        <span class="user_name text_dark_gray font_14 font_400 line_height_18 margin_x_20">Mohammed Alharbi</span>
        <app-chevron-down-icon classList="fill_dark_gray" />
    </div>
</header>
