.app_header {
    border-bottom: 1px solid #E2E7F1;
    .user_setting {
        .wrap_user_img {
            width: 48px;
            height: 48px;
            overflow: hidden;
            border-radius: 9999px;
        }
    }
}