/* You can add global styles to this file, and also import other style files */
@use "vars" as *;
@use "_helpers" as *;

// primeicons
@import "primeicons/primeicons.css";


body {
    font-family: $primary-font;
}

.hr {
    height: 2px;
    display: block;
    margin-block: 32px;
    background-color: $cloud-blue;
}

.container-fluid {
    padding: 0 25px !important;
}

.cursor_pointer {
    cursor: pointer;
}